<div class="modal-header">
	<button type="button" class="close" {{action 'rejectMe'}}>&times;</button>
	<h4 class="modal-title">Default Modal</h4>
</div>
<div class="modal-body">
	<div class="alert alert-info">
		<strong>This is the default modal instance</strong><br />
		You should extend modal-instance imported from 'ember-cli-modal-service/components/modal-instance'.
	</div>

	<div>
	<p> Modal data : <span id="modalModelData">{{model.data}}</span></p>
	</div>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-sm-12">
			<button class="btn btn-success" id="resolveModalBtn" {{action 'resolveMe'}}>
				Resolve
			</button>
			<button class="btn btn-danger" id="rejectModalBtn" {{action 'rejectMe'}}>
				Reject
			</button>
		</div>
	</div>
</div>