<div class="modal fade ">
	<div class="modal-dialog  modal-lg">
		<div class="modal-content">
			{{component modal.componentName 
				model=modal.context  
				onCloseResolve="closeModalResolve" onCloseReject="closeModalReject"}}
		</div>
	</div>
</div>